/* reset tray css */
.container {
    background: none;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.02rem;
    font-weight: 400;
    color: #2D2C2F;
}

.dropdown-menu {
    font-size: 0.75rem;
}

/* Cores */
a {
    color: #000;
}

a:hover {
    color: rgba(0, 0, 0, .7);
}

.bg-nude {
    background-color: #E4D7C5!important;
}

.text-nude {
    color: #E4D7C5!important;
}

/* Benefícios */
.header-top {
    font-size: 0.625rem;
    color: #000;
}

.header-top .list-inline-item {
    padding-right: .5rem;
    border-right: 1px solid #212529;
}

.header-top .list-inline-item:last-child {
    border-right-width: 0;
}

/* Alertas */
.infobox {
    position: relative;
    padding: .75rem 1.25rem;
    border: .0625rem solid transparent;
}

.infobox + .infobox {
    border-bottom: 0;
}

.infobox, .infobox span {
    font-size: 0.75rem;
}

.infobox a {
    color: #ed4c78;
}

.infobox.danger {
    color: #ed4c78;
    background-color: rgba(237,76,120,.1);
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: .0625rem solid transparent;
    border-radius: .3125rem;
}

/* Brand */
.brand {
    text-decoration: none;
}

/* Menu categorias */
.menu-categorie .nav-link,
.menu-categorie .dropdown-item {
    text-transform: uppercase;
    font-weight: 500;
}

/* Footer */
.footer .footer-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.footer .list .list-group-item {
    padding-left: 0;
    padding-right: 0;
    border: 0;
}