body {
    font-family: 'Spartan', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.02rem;
    font-weight: 400;
    color: #212529;
}

.dropdown-menu {
    font-size: 0.75rem;
}

.bg-nude {
    background-color: #efeae2!important;
}

.text-color {
    color: #efeae2!important;
}

.header-top {
    font-size: 0.6875rem;
}

.header-top .list-inline-item {
    padding-right: .5rem;
    border-right: 1px solid #212529;
}

.header-top .list-inline-item:last-child {
    border-right-width: 0;
}