<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-sm px-0">
        <li class="breadcrumb-item">
            <a class="breadcrumb-link" href="/">Home</a>
        </li>
        {% if breadcrumb %}
            {% for item in breadcrumb %}
            <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="{{ item.link}}" title="{{ item.name }}">
                    {{ item.name }}
                </a>
            </li>
            {% endfor %}
            {{ if pages.current != 'product' }}
            <li class="breadcrumb-item active" aria-current="page">
                {{ pages.current == 'product' ? product.name : category.name }}
            </li>
            {% endif %}
        {% endif %}
    </ol>
</nav>
