{% if product.available %}
<div class="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <div class="d-flex justify-content-center">
        {% if product.price_offer > 0 %}
        <div class="me-3 text-muted text-decoration-line-through">
            <span>{{ settings.currency }}</span>
            <span>{{ product.price|currency }}</span>
        </div>
        {% endif %}
        <div>
            {% set price = product.price_offer > 0 ? product.price_offer : product.price %}
            <span itemprop="priceCurrency" content="BRL">{{ settings.currency }}</span>
            <span itemprop="price" content="{{ price }}">{{ price|currency }}</span>
        </div>
    </div>
</div>
{% else %}
    {% element 'snippets/price' {"product": product} %}
{% endif %}