{% if banner.title %}

    <div class="banner banner-title">
        {{ banner.title }}
    </div>

{% endif %}

{% if breadcrumb %}

    <div class="vspace-sm">
        {% element 'snippets/breadcrumb' %}
    </div>

{% endif %}

<div class="text-center mt-4 mb-5">
    <h1 class="h2 catalog-title">{{ category.name }}</h1>
</div>

{% if products|length > 0 %}

    <div class="d-none">
        {#% element 'snippets/filter' {
            'brands': category.brands
        } %#}
    </div>

    <div class="d-block">
        {% element 'snippets/showcase' {
            "products": products
        } %}
    </div>

    <div class="d-block">
        {% element 'snippets/pagination' %}
    </div>

{% else %}

    <p>Nenhum produto encontrado nessa categoria.</p>

{% endif %}
