<div id="product-container" class="produto-wrapper" itemscope itemtype="http://schema.org/Product">
    
    <span id="span_erro_carrinho"></span>

    <div id="loading-product-container">
        <img src='{{ tray.paths.system_image }}/big-loading.svg' />
    </div>

    <div class="row">
        <div class="col-sm-7">

            <div id="visualBlock" class="product-gallery">
                {{ productHelper.gallery() }}
            </div>

        </div>
        <div class="col-sm-5">

            <!-- product info -->
            <div class="product-info">

                {% if product.brand %}
                <div class="product-brand mb-2">{{ product.brand }}</div>
                {% endif %}

                <div class="product-name">
                    <h1 class="h5">{{ product.name }}</h1>
                </div>

                {% if product.reference %}
                <div class="product-reference">
                    <span class="text-uppercase text-muted small">cod.{{ product.reference }}</span>
                </div>
                {% endif %}

                <div class="product-breadcrumb">
                    {% element 'snippets/breadcrumb' %}
                </div>

                <div class="product-buy-content">
                    <form id="form_comprar" method="post" data-app="product.buy-form" action="{{ links.cart_add ~ product.id }}">
                        {{ productHelper.pricing() }}
                        {{ productHelper.variants() }}
                        {{ product.additional_information }}
                        {{ productHelper.gifts() }}
                        {{ productHelper.form() }}
                        {{ productHelper.wishlist() }}
                        {{ productHelper.shipping() }}
                    </form>
                </div>

            </div>
            <!-- end product info -->

            {% element 'product/rating' %}
            <div class="product-labels">
                {{ productHelper.labels() }}
            </div>
            <p class="product-details">
                {{ productHelper.details() }}
                {{ productHelper.icons() }}
            </p>
            {{ productHelper.bonus() }}

            <p class="product-message">
                {{ product.additional_message }}
            </p>

        </div><!-- end col -->

    </div><!-- end row -->
</div>

<div id="ProdBlock">
    <div id="loading-tab-container">
        <img src='{{ tray.paths.system_image }}/big-loading.svg' />
    </div>
    <a name="formaPagto"></a>
    <div id="ProdAbas" class="abasProduto">
        <ul>
            {% for key, tab in productTabs %}
              {% if tab.container_id %}
              <li id="{{ tab.id }}" {% if key=='description' %}class="aberta" {% endif %}>
                <a href="#" data-tab-container-id="{{ tab.container_id }}" data-tab-url="{{ tab.url }}">{{ tab.description }}</a>
              </li>
              {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div id="descricao" class="prodBox">
        <div class="board">
            <div class="board_htm description">
                {{ product.description ? product.description : product.description_small }}
            </div>
        </div>
    </div>

    <div id="itensInclusos" class="prodBox">
        <div class="board">
            {{ product.included_items }}
        </div>
    </div>

    <div id="coments" class="prodBox">
        <div class="board">
            {% element 'product/comments' %}
        </div>
    </div>

    <div id="caracteristicas" class="prodBox">
        <div class='board'>
            {% element 'product/properties' %}
        </div>
    </div>

    {{ productTabs.custom.content }}
    {{ productTabs.downloads.content }}

    <div id="garantia" class="prodBox">
        <img class="loader" src="{{ tray.paths.system_image }}/big-loading.svg" style="display:none;" />
    </div>
    <div data-app="product.payment-methods" id="formasPagto" class="prodBox" style="display:none;" ></div>
</div>

{{ productHelper.bundle() }}

{% if product.related_products %}
<div class="products-related">
    
    <div class="text-center my-2">
        <h3 class="related-title text-uppercase">Quem comprou, comprou também</h3>
    </div>

    <div class="row">
        {% for related in product.related_products %}
            {% if loop.index <= 3 or not limit %}
            <div class="col-sm-4 product">
                {% element 'snippets/product' {"product": related} %}
            </div>
            {% endif %}
        {% if loop.index is divisible by(3) %}
    </div>
    <div class="row">
          {% endif %} {% endfor %}
    </div>
</div>
{% endif %}
